/* CSS Document for MoonBuyers Intergalactic. */
@charset "utf-8";

:root {
	--background-color:  #deffde; /* Soft mint */
}

body {
	background-color: var(--background-color);
}

h1 {
	text-align:center;
	color:#000000;		/* Black */
}

h2 {
	text-align:center;
	color:#006400;		/* Dark Green */
}

h3 {
	text-align:center;
	color:#db1ed1;		/* Light Purple */
}

h5 {
	text-align:center;
	color:#db0022;		/* Light Purple */
}

/* Horizontal Seperator. */
.hr-all {
	margin: auto 250px;
    border-color: #aC0000;
    border-style: solid;
    border-bottom: 1px;
    padding:10px;
}

.bold {
	color:	#0000bb;
	font-weight:	bold;
	font-size:	16px;
  vertical-align: middle !important;
}

#table-borders-override {
	border: 1px solid blue;
	padding: 1px;
}

#assetID_ {
	display: none;
}

.table {
	margin: auto;
	max-width: 60%;
}

/* Table hover, not body background! */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ff000025; /* transparent red (umber) */
}

span.span-hide {
	color: #dff0d8; /* Bootstrap 3 'success' [docs are wrong!!]. */
}

div {
	text-align:center;
}

a:link, a:visited {
	color:#3300FF;
	font-size: 20px;
}

a:hover {
	color:#FF0000;
}

/* For return to main page buttons on each query result page. */
button {
	height: 30px;
	width:auto
	border-radius: 5px;
	font-size: 13px;
	background-color: #2994FF;
	color: yellow;
}

button:hover{
	background:#FF0000;
}

.form-group {
	max-width: 50%;
}

/* For submit buttons on index.php */
#button {
	height: 30px;
	width:auto
	border-radius: 5px;
	font-size: 13px;
	background-color: #2994FF;
	color: yellow;
}
#button:hover{background:#FF0000;}



/* For submit buttons on combination form/php pages. */
#submit {
	height: 30px;
	width:auto
	border-radius: 5px;
	font-size: 13px;
	background-color: #2994FF;
	color: yellow;
}

#submit:hover {
	background:#FF0000;
}

/* Styling for error messages. */
.success {
	text-align:center;
	font:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#009900;
}

/* Styling for success messages. */
.error {
	text-align:center;
	font:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FF0000;
}

.overflow {
	overflow-y:auto;
	height:725px;
	max-height:725px;
}

/* For screens < 900px width, lengthen the <hr> seperators. */
@media only screen and (max-width: 900px) {
  .hr-all {
  	margin: auto 0px;
  }
}

/* Animated Chevron Scroller  */

.scroll-container {
  position: relative;
  width: 24px;
  height: 24px;
  /*bottom: 77px;*/
}

.col-centered {
	float: none;
  margin: 0 auto;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #0000ff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* End Animated Chevron Scroller */
